<h1>Anagram Finder</h1>
<form action="/anagrams">
    <div class="form-group">
      <label for="master_word">Enter the word you would like to search for anagrams of:</label>
      <input id="master_word" name="master_word" class="form-control" type="text">
      <label for="words_to_compare">Enter the words you would like to for anagrams among (separate words with spaces):</label>
      <input id="words_to_compare" name="words_to_compare" class="form-control" type="text">
    </div>
  <button id="submit" class ="btn-success">Compare!</button>
</form>
